<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<servlet-mapping>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>xhtml</web-resource-name>
			<url-pattern>/api/test/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>HEAD</http-method>
			<http-method>TRACE</http-method>
			<http-method>DELETE</http-method>
			<http-method>OPTIONS</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>AUTHOR</role-name>
			<role-name>ADMIN</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-role>
		<role-name>*</role-name>
	</security-role>
	
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>platform-domain</realm-name>
	</login-config>
	
	<filter>
		<filter-name>SecurityFilter</filter-name>
		<filter-class>ro.unitbv.fmi.tmis.platform.security.SecurityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping> 
</web-app>